<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\TierPrice\UpdateHandler"
                type="TenxEngineer\ProductTierPriceCommitField\Model\UpdatePriceHandler" />
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\TierPrice\SaveHandler"
                type="TenxEngineer\ProductTierPriceCommitField\Model\Product\Attribute\Backend\TierPrice\SavePriceHandler" />
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Tierprice"
                type="TenxEngineer\ProductTierPriceCommitField\Model\ResourceModel\Product\Attribute\Backend\DataColumnUpdate" />
</config>
